IMPORT THE LIBRARIES

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [10]:
df=pd.read_csv("kidney_disease_test.csv")

In [11]:
print("The dataset shape is {}".format(df.shape))

The dataset shape is (120, 25)

In [12]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,209,19.0,70.0,1.020,0.0,0.0,NaN,normal,notpresent,notpresent,...,11.5,NaN,6900.0,NaN,no,no,no,good,no,no
1,280,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,13.3,52,8100.0,5.2,no,no,no,good,no,no
2,33,60.0,100.0,1.020,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,10.1,29,NaN,NaN,yes,no,no,poor,no,no
3,210,59.0,100.0,1.015,4.0,2.0,normal,normal,notpresent,notpresent,...,7.3,20,9800.0,3.9,yes,yes,yes,good,no,yes
4,93,73.0,100.0,1.010,3.0,2.0,abnormal,abnormal,present,notpresent,...,9.2,30,7000.0,3.2,yes,yes,yes,poor,no,no

In [13]:
df.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane'],
      dtype='object')

UNDERSTANDING DATATYPES AND SUMMARY OF FEATURES

In [18]:
df.dtypes

id         int64
age      float64
bp       float64
sg       float64
al       float64
su       float64
rbc       object
pc        object
pcc       object
ba        object
bgr      float64
bu       float64
sc       float64
sod      float64
pot      float64
hemo     float64
pcv       object
wc       float64
rc       float64
htn       object
dm        object
cad       object
appet     object
pe        object
ane       object
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      120 non-null    int64
 1   age     116 non-null    float64
 2   bp      117 non-null    float64
 3   sg      109 non-null    float64
 4   al      109 non-null    float64
 5   su      109 non-null    float64
 6   rbc     75 non-null     object
 7   pc      105 non-null    object
 8   pcc     120 non-null    object
 9   ba      120 non-null    object
 10  bgr     109 non-null    float64
 11  bu      115 non-null    float64
 12  sc      115 non-null    float64
 13  sod     100 non-null    float64
 14  pot     100 non-null    float64
 15  hemo    107 non-null    float64
 16  pcv     101 non-null    object
 17  wc      92 non-null     float64
 18  rc      83 non-null     float64
 19  htn     119 non-null    object
 20  dm      119 non-null    object
 21  cad     119 non-null    object
 22  appet   119 non-null    object
 23  pe      119 non-null    object
 24  ane     119 non-null    object
dtypes: float64(13), int64(1), object(11)
memory usage: 23.6+ KB

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,120.0,191.500000,123.781184,0.000,77.750,180.50,292.50,396.000
age,116.0,51.551724,16.494186,5.000,42.000,54.50,63.00,82.000
bp,117.0,77.435897,12.258273,50.000,70.000,80.00,90.00,110.000
sg,109.0,1.017339,0.005675,1.005,1.015,1.02,1.02,1.025
al,109.0,1.000000,1.305260,0.000,0.000,0.00,2.00,4.000
su,109.0,0.477064,1.159473,0.000,0.000,0.00,0.00,5.000
bgr,109.0,143.165138,83.641709,22.000,95.000,113.00,141.00,490.000
bu,115.0,58.447826,48.429293,1.500,25.000,46.00,72.00,235.000
sc,115.0,3.226957,5.500659,0.500,0.900,1.20,3.05,48.100
sod,100.0,138.110000,6.996240,111.000,135.000,139.00,142.00,150.000
pot,100.0,4.358000,0.856488,2.500,3.700,4.35,4.90,7.600
hemo,107.0,12.514953,2.992658,4.800,10.250,12.60,15.10,17.800
wc,92.0,8518.478261,2563.691078,2600.000,6775.000,8300.00,9900.00,19100.000
rc,83.0,4.709639,1.022624,2.100,3.950,4.80,5.20,6.500

In [19]:
for col in df:
    unique=df[col].value_counts()
    print(unique,"\n========================= \n")

209    1
280    1
108    1
301    1
248    1
      ..
116    1
232    1
57     1
261    1
281    1
Name: id, Length: 120, dtype: int64
=========================

48.0    8
55.0    7
60.0    6
59.0    4
71.0    4
67.0    4
61.0    4
47.0    3
62.0    3
50.0    3
63.0    3
45.0    3
65.0    3
73.0    3
69.0    2
39.0    2
35.0    2
19.0    2
75.0    2
57.0    2
54.0    2
51.0    2
46.0    2
5.0     2
34.0    2
44.0    2
53.0    2
42.0    2
30.0    2
36.0    2
40.0    2
70.0    2
76.0    2
49.0    1
66.0    1
56.0    1
15.0    1
23.0    1
24.0    1
33.0    1
78.0    1
21.0    1
37.0    1
29.0    1
32.0    1
64.0    1
58.0    1
82.0    1
79.0    1
17.0    1
38.0    1
12.0    1
41.0    1
Name: age, dtype: int64
=========================

80.0     35
70.0     31
90.0     21
60.0     19
100.0     9
110.0     1
50.0      1
Name: bp, dtype: int64
=========================

1.020    32
1.015    27
1.025    24
1.010    23
1.005     3
Name: sg, dtype: int64
=========================

0.0    60
1.0    15
2.0    14
3.0    14
4.0     6
Name: al, dtype: int64
=========================

0.0    91
2.0     7
4.0     5
3.0     4
5.0     1
1.0     1
Name: su, dtype: int64
=========================

normal      57
abnormal    18
Name: rbc, dtype: int64
=========================

normal      78
abnormal    27
Name: pc, dtype: int64
=========================

notpresent    104
present        16
Name: pcc, dtype: int64
=========================

notpresent    114
present         6
Name: ba, dtype: int64
=========================

93.0     7
107.0    5
140.0    4
121.0    3
150.0    3
        ..
303.0    1
309.0    1
90.0     1
110.0    1
130.0    1
Name: bgr, Length: 72, dtype: int64
=========================

25.0     7
16.0     5
55.0     4
46.0     4
48.0     4
        ..
52.0     1
163.0    1
1.5      1
39.0     1
42.0     1
Name: bu, Length: 66, dtype: int64
=========================

1.2     15
0.5      8
0.8      7
1.1      7
1.0      6
0.7      6
0.9      6
1.6      6
3.2      4
1.9      3
1.3      3
7.3      3
0.6      3
4.0      2
1.8      2
2.2      2
1.5      2
2.0      2
2.5      2
2.9      2
1.7      2
6.1      1
15.2     1
48.1     1
3.4      1
3.8      1
7.7      1
6.7      1
5.9      1
4.4      1
2.7      1
8.5      1
6.0      1
18.1     1
9.6      1
2.8      1
13.8     1
9.7      1
7.2      1
15.0     1
5.6      1
12.8     1
14.2     1
Name: sc, dtype: int64
=========================

135.0    9
142.0    9
141.0    8
138.0    8
136.0    7
139.0    7
132.0    6
144.0    6
137.0    6
146.0    5
131.0    4
147.0    4
140.0    4
150.0    3
145.0    3
130.0    2
143.0    2
114.0    1
113.0    1
133.0    1
120.0    1
125.0    1
111.0    1
134.0    1
Name: sod, dtype: int64
=========================

3.5    14
5.0    11
4.9    10
4.2     7
4.5     6
4.8     5
3.9     5
4.1     4
3.8     4
3.7     4
4.4     3
3.6     3
5.7     3
4.7     2
4.6     2
3.2     2
2.5     2
3.4     1
5.1     1
5.9     1
4.3     1
5.6     1
6.5     1
2.8     1
5.2     1
5.5     1
4.0     1
7.6     1
2.9     1
6.6     1
Name: pot, dtype: int64
=========================

15.0    4
10.3    4
11.5    3
11.9    3
15.5    3
       ..
15.2    1
12.0    1
10.6    1
14.3    1
17.1    1
Name: hemo, Length: 71, dtype: int64
=========================

44     8
41     8
52     6
40     6
30     6
37     5
48     5
36     5
29     4
24     3
32     3
28     3
34     3
43     3
54     3
50     2
45     2
39     2
46     2
47     2
35     2
53     2
33     2
22     2
15     1
31     1
19     1
42     1
51     1
38     1
14     1
20     1
26     1
23     1
27     1
\t?    1
Name: pcv, dtype: int64
=========================

9200.0     5
7800.0     5
9800.0     4
6900.0     3
9100.0     3
9400.0     3
7200.0     3
10200.0    3
12400.0    2
10400.0    2
6300.0     2
10300.0    2
10700.0    2
8300.0     2
11400.0    2
5300.0     2
6200.0     2
6500.0     2
6700.0     2
9500.0     2
7700.0     2
5800.0     2
7000.0     2
7100.0     2
8000.0     2
3800.0     2
12000.0    1
6800.0     1
5400.0     1
12100.0    1
8200.0     1
5000.0     1
8800.0     1
11900.0    1
11300.0    1
14600.0    1
5700.0     1
8500.0     1
12800.0    1
5500.0     1
9000.0     1
13200.0    1
4700.0     1
9600.0     1
6400.0     1
11200.0    1
19100.0    1
6000.0     1
8400.0     1
8100.0     1
5600.0     1
2600.0     1
11800.0    1
Name: wc, dtype: int64
=========================

5.2    8
4.9    6
4.5    6
3.7    5
3.9    5
5.0    4
4.6    3
4.2    3
4.7    3
6.4    3
6.3    3
4.8    2
6.5    2
4.0    2
5.9    2
2.8    2
3.4    2
5.8    2
5.3    2
5.1    2
6.2    2
5.4    1
4.3    1
6.1    1
2.9    1
5.6    1
3.2    1
4.1    1
4.4    1
3.8    1
2.5    1
3.6    1
2.1    1
2.7    1
6.0    1
Name: rc, dtype: int64
=========================

no     74
yes    45
Name: htn, dtype: int64
=========================

no      83
yes     35
 yes     1
Name: dm, dtype: int64
=========================

no     108
yes     11
Name: cad, dtype: int64
=========================

good    99
poor    20
Name: appet, dtype: int64
=========================

no     94
yes    25
Name: pe, dtype: int64
=========================

no     99
yes    20
Name: ane, dtype: int64
=========================